/*
    
        Small header and other fonts:
            font-family: 'Atkinson Hyperlegible', sans-serif;
        Big Header font: 
            font-family: 'Lexend Deca', sans-serif; 
 */
body {
    background-color: #FFF6F4;
}